*{
    margin: 0px;
    padding: 0px;
}
.header{
    width: 100%;
    height: 100px;
    position: sticky;
    top: 0px;
    
    background: url(header-curl-bg.svg) right/contain no-repeat,url(header-rotate.png) left/contain no-repeat #19398a;
    background-image: url(header-curl-bg.svg), url(header-rotate.png);
    background-position-x: right, left;
    background-position-y: center, center;
    background-size: contain, contain;
    background-repeat-x: no-repeat, no-repeat;
    background-repeat-y: no-repeat, no-repeat;
    background-attachment: initial, initial;
    background-origin: initial, initial;
    background-clip: initial, initial;
    background-color: rgb(25, 57, 138);;


    
}
.headerItem{
    display: flex;
    flex-direction: row;

}


#ipllogo{
    height: 60px;
    width: 120px;
    margin-top: 15px;
    margin-left: 60px;
    
}
.menuitem{
    
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-top: 36px;
    margin-left: 300px;
    
}
a{
    color: white;
    text-decoration: None;
    font-size: 20px;
    font-weight: 700;
}
a:hover{
    border-bottom: 3px solid white;
    border-radius: 2px;
}
.someButtons{
    display: flex;
    margin-top: 36px;
    gap: 10px;
    margin-left: 200px;
}
.NavBtn{
    display: flex;
    flex-direction: row;
    gap: 30px;
   

}
.CurrentYeartChampians{
    width: 100%;
    height: 700px;
    background-image: url("https://cf-images.eu-west-1.prod.boltdns.net/v1/static/3588749423001/67351d5a-b913-4b49-bb2c-5ab12aa79722/b7ed3571-f518-4946-b610-70b1ee573b0e/1280x720/match/image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
   

    
  
    
}
#Winmsg{
    
    padding-top: 630px ;
    
    color: rgb(7, 7, 16);
    padding-left: 350px;

}

.main{
   
    
    

    
   

    
    
  
}

.last5Matches{
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    background: url(/images/wrulf-bg-1.svg) right/contain no-repeat,url(images/wrulf-bg-2.png) left/contain no-repeat #212529;;
    background-image: url(/images/wrulf-bg-1.svg) url(/images/wrulf-bg-2.png);
    background-position-x: right, left;
    background-position-y: center, center;
    background-size: contain, contain;
    background-repeat-x: no-repeat, no-repeat;
    background-repeat-y: no-repeat, no-repeat;
    background-attachment: initial, initial;
    background-origin: initial, initial;
    background-clip: initial, initial;
    background-color: rgb(9, 21, 56);;
}
#storyMessage{
    color: white;
    padding-top: 40px;
    margin-left: 120px;

}
.storyCard{
    display: flex;
    flex-direction: column;
    
    
    width: 110px;
    

}
.storyimg{
    height: 150px;
    width: 110px;
    border-radius: 10px;
}
.storyCardContainer{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-left: 120px;
    margin-top: 40px;
}
.storyCard h3{
    color: white;

}
.LookingFor{
    width: 100%;
    height: 200px;
    background: url(/images/wrulf-bg-1.svg) right/contain no-repeat,url(images/wrulf-bg-2.png) left/contain no-repeat #f9fafb;;
    background-image: url(/images/wrulf-bg-1.svg) url(/images/wrulf-bg-2.png);
    background-position-x: right, left;
    background-position-y: center, center;
    background-size: contain, contain;
    background-repeat-x: no-repeat, no-repeat;
    background-repeat-y: no-repeat, no-repeat;
    background-attachment: initial, initial;
    background-origin: initial, initial;
    background-clip: initial, initial;
    background-color: rgb(247, 248, 250);;
}

#wrulf{
    align-items: center;
    text-align: center;
    padding-top: 10px;
    font-style: italic;
}
.btnWrlf{
    display: flex;
    flex-direction: row;
    gap: 80px;
    margin-left: 160px;
    margin-top: 40px;
   
    
}
.btnwlf1{
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}
.btnwlf1 img{
    width: 40px;
    height: 40px;
   
    

}

.btnwlf1 h4{
    font-size: 20px;
    font-style: italic;
    padding-top: 10px;
    margin-left: 10px;
}
.btnwlf1:hover{

    background-color: orangered;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
   border-bottom-left-radius: 5px;

    border-top: hidden;
    border-right: hidden;


}



.ourNumbers{
    display: flex;
    flex-direction: column;
    background-color: #19398a
}


.headingnum h1{
    color:white;
   margin-left: 100px;
}

.numbersContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 600px;
   
}
.Istrow{

    display: flex;
    flex-direction: row;
    margin: 10px auto;
}

.boundryNubers{
    height: 250px;
    width :300px;
    background-color: rgb(162, 119, 209);
    display: flex;
    flex-direction: column;
    gap: 10px;

    border-radius: 15px;

}
#rupaylogo{
    margin-top: 20px;
    /* margin-left: 70px; */
    align-self: center;

}
.boundryNubers h2{
   
    text-align: center;
    color: white;
    font-size: 35px;

}
.boundryNubers h1{
   
    text-align: center;
    color: white;
    

}
.NumberofChampions{
    width: 600px;
    height:250px;
    margin-left: 15px;
    background-color: green;
    align-items: center;
    align-content: center;
    border-radius: 15px;

}
#championlogo{
    align-items: center;
    margin-top: 15px;
 

}
.NumberofChampions h2{
    color: white;
    text-align: center;
    font-size: 35px;
}
.NumberofChampions{
    color: white;
    text-align: center;
    
}

.maximum{
    height: 250px;
    width :300px;
    background-color: rgb(226, 174, 224);
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 15px;

    border-radius: 15px;
}
.maximum h2{
    color: white;
    text-align: center;
    font-size: 35px;
}

.maximum h1{
    color: white;
    text-align: center;
    
}
#saudiimg{
    align-self: center;
}

.IIndRow{
    display: flex;
    flex-direction: row;
    margin: 10px auto;
}

main{
    background-color: yellow;
}
.teaminfo{
    display: flex;
    flex-direction: column;
    width: 100%;
    height:fit-content;
    

}

.Teamlogo{
    align-content: center;
    align-self: center;
    margin-top: 10px;
}

#teamlogoimg{
    width: 250px;
    height: 250px;

    
}
.teamName{
   align-content: center;
   align-self: center;
}

.numberofPlayer{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-content: center;
    align-self: center;
}
#playercounttxt {
    font-size: 25px;
    
}
#playerNumber{
    font-size: 25px;
    
    

}

.TrophiesWon{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-content: center;
    align-self: center;
}

#trophieswon{
    width: 80px;
    height: 80px;

}

#trophyCount{
    font-size: 45px;
    margin-top: 15px;
}
.captain{

    display: flex;
    flex-direction: row;
    gap: 10px;
    align-content: center;
    align-self: center;



}
#playerImage{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-top: 10px;
    
}
.playercard{
    width: 150px;
    height: fit-content;
    border: 1px solid black;
    border-radius: 10px;
    
   text-align: center;
   margin : 10px;
}
 

.playerarea{

    width: 90%;
    height: fit-content;
    margin: 100px auto;
}

.topBatsman{
    display: flex ;
    flex-direction: row;
    flex-wrap: wrap;
}
#searchbox{
    width: 180px;
    text-align: center;
    border-radius: 10px;
}

#searchBtn{
    width: 70px;
    margin-right : 5px;
    border-radius: 10px;
    cursor: pointer;
    border: none;


}
#searchBtn:hover{
    background-color: green;
}


.playerInformation{
    height: 300px;
    width: 350px;

    
   margin-left: 700px;
    border: 1px solid black;
    border-radius:10px;
}

.orangecap{
   
        width: 600px;
        height:250px;
        margin-left: 15px;
        background-color: orange;
        align-items: center;
        align-content: center;
        border-radius: 15px;
        
    
   
}

#aramco{
    margin-left: 190px;

    

}

.playerimages{
    display: flex ;
    flex-direction: row;

}

.imagescaps{
    display: flex;
    flex-direction: row;
 

}

.capcontainer{
    display: flex;
    flex-direction: row;
}

.puplecap{
   
    width: 600px;
    height:250px;
    margin-left: 15px;
    background-color: purple;
    align-items: center;
    align-content: center;
    border-radius: 15px;
    


}


.playerimage{
    height: 200px;
    width: 150px;
    border: 1px solid black;
}
.playercard{
    height: 300px;
    width: 250px;
    display: flex;
    flex-direction: column;
    border: 1px solid black ;
    border-radius: 10px;
}

#playerImage{
   margin: 25px auto;

}
#loadPlayerbtn{
    width: 150px;
    height: 35px;
    background-color: #19398a;
    color: white;
    margin-left: 50px;
    
    margin-bottom: 10px;
    font-size: 20px;

    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}

.playerarea{
    margin-top: 10px;
    margin-left: 560px;
    
}

#loadPlayerbtn:hover{

    background-color: green;

    

}


